In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
# student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [4]:
student_grades.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
data = student_grades.drop(["school","address","reason"], 1)

data['famsize'] = (data['famsize'] == "GT3")*1
data['sex'] = (data['sex'] == 'M')*1
data['Pstatus'] = (data['Pstatus'] == 'T')*1
data.loc[data['guardian'] == 'mother',"guardian"] = 1
data.loc[data['guardian'] == 'father',"guardian"] = 2
data.loc[data['guardian'] == 'other',"guardian"] = 0
data['schoolsup'] = (data['schoolsup'] == 'yes')*1
data['famsup'] = (data['famsup'] == 'yes')*1
data['paid'] = (data['paid'] == 'yes')*1
data['activities'] = (data['activities'] == 'yes')*1
data['nursery'] = (data['nursery'] == 'yes')*1
data['higher'] = (data['higher'] == 'yes')*1
data['internet'] = (data['internet'] == "yes")*1
data['romantic'] = (data['romantic'] == 'yes')*1
data.head()

,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,traveltime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,18,1,0,4,4,at_home,teacher,1,2,...,4,3,4,1,1,3,6,5,6,6
1,0,17,1,1,1,1,at_home,other,2,1,...,5,3,3,1,1,3,4,5,5,6
2,0,15,0,1,1,1,at_home,other,1,1,...,4,3,2,2,3,3,10,7,8,10
3,0,15,1,1,4,2,health,services,1,1,...,3,2,2,1,1,5,2,15,14,15
4,0,16,1,1,3,3,other,other,2,1,...,4,3,2,1,2,5,4,6,10,10

In [7]:
data.columns.values

array(['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2', 'G3'], dtype=object)

In [8]:
#important fields
features = ['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu',
        'traveltime', 'studytime', 'failures', 'schoolsup',
         'activities', 'higher', 
       'romantic', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2']

In [9]:
len(features)

21

In [10]:
x = data[features]
y = data['G3']

In [11]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [12]:
#checking the data types
data["guardian"]=np.array(data["guardian"],dtype='i8')
for i in x.columns:
    print(i," : ",type(data[i][1]))  
data["guardian"][0]

sex  :  <class 'numpy.int64'>
age  :  <class 'numpy.int64'>
famsize  :  <class 'numpy.int64'>
Pstatus  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>

1

In [13]:
x = data[features]
x.head(2)

,sex,age,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,0,18,1,0,4,4,2,2,0,1,...,1,0,3,4,1,1,3,6,5,6
1,0,17,1,1,1,1,1,2,0,0,...,1,0,3,3,1,1,3,4,5,5

In [14]:
y = data['G3']

In [15]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [16]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

sex  :  <class 'numpy.int64'>
age  :  <class 'numpy.int64'>
famsize  :  <class 'numpy.int64'>
Pstatus  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

from math import sqrt

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=0)

In [19]:
regressor = RandomForestRegressor(max_depth=10,n_estimators=150, min_samples_split=2)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [20]:
y_prediction = regressor.predict(x_test)

In [21]:
y_prediction

array([ 14.05391304,  11.04359788,  10.10385329,  15.38458901,
        16.10026667,  12.39519738,  13.20444444,  10.87284123,
         9.18411503,  14.98      ,   9.21069841,  11.47834921,
        10.74130303,   7.57611722,  15.33693333,  14.32222222,
        13.29391304,   8.46142165,   9.58256349,  15.0336    ,
         3.42666667,   0.39333333,   3.18666667,  15.06915556,
        12.36356838,  16.57384615,   9.90067957,  18.90666667,
         0.54666667,  13.36892552,   0.3       ,   8.35025377,
         8.4965873 ,   5.96666667,  12.515     ,  10.31307692,
        12.88777778,  18.34666667,   5.82832776,  12.43017663])

In [24]:
y_test.head()

329    14
318    10
317     9
65     15
59     16
Name: G3, dtype: int64

In [23]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

sex  :  0.00139864373244
age  :  0.0155928218926
famsize  :  0.00157795721243
Pstatus  :  0.000857033496151
Medu  :  0.00486004699036
Fedu  :  0.00741472841147
traveltime  :  0.00415982504105
studytime  :  0.00717474776702
failures  :  0.00649296766122
schoolsup  :  0.00457132602794
activities  :  0.00496572600137
higher  :  0.000343575356779
romantic  :  0.00257689311113
freetime  :  0.00634830952639
goout  :  0.00681485114891
Dalc  :  0.00187303010424
Walc  :  0.00513474893002
health  :  0.0110720868413
absences  :  0.121524633088
G1  :  0.00864279475622
G2  :  0.776603252903

In [25]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

1.8227335876811332

In [26]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

sex  correlation :  0.103455647466
age  correlation :  -0.161579438138
famsize  correlation :  -0.0814071097726
Pstatus  correlation :  -0.0580089849593
Medu  correlation :  0.217147496139
Fedu  correlation :  0.152456938904
traveltime  correlation :  -0.117142052816
studytime  correlation :  0.0978196896532
failures  correlation :  -0.360414940462
schoolsup  correlation :  -0.0827882149932
activities  correlation :  0.0160997012958
higher  correlation :  0.182464617858
romantic  correlation :  -0.129969950163
freetime  correlation :  0.0113072403083
goout  correlation :  -0.132791473503
Dalc  correlation :  -0.0546600405667
Walc  correlation :  -0.0519393237422
health  correlation :  -0.0613346048771
absences  correlation :  0.0342473161501
G1  correlation :  0.801467932017
G2  correlation :  0.904867989269

In [27]:
values.sort()
values

[-0.36041494046164968,
 -0.16157943813834058,
 -0.13279147350332923,
 -0.12996995016344978,
 -0.11714205281614901,
 -0.082788214993163287,
 -0.081407109772554373,
 -0.061334604877121369,
 -0.058008984959311186,
 -0.054660040566735971,
 -0.051939323742246163,
 0.011307240308313026,
 0.016099701295814482,
 0.034247316150069311,
 0.097819689653196262,
 0.10345564746639291,
 0.15245693890425902,
 0.18246461785815765,
 0.21714749613860598,
 0.80146793201741462,
 0.9048679892693009]

In [28]:

data[features].max()

sex            1
age           22
famsize        1
Pstatus        1
Medu           4
Fedu           4
traveltime     4
studytime      4
failures       3
schoolsup      1
activities     1
higher         1
romantic       1
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      75
G1            19
G2            19
dtype: int64

In [29]:
## User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
while not(isinstance(user_name, str)):
    print ("please enter a valid string")
    user_name = input("Welcome!!! Please Enter your name: ")
user_name=str(user_name)
user_data.append(user_name)
data1 = input("Please mention the no. of hours you study in a day : ")

data2 = input("Mention your daily travel time : ")

data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")

data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being a college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")

for i in range(1,11):
    data = "data"+str(i)
    user_data.append(globals()[data]) 
user_data

Welcome!!! Please Enter your name: Eren
Please mention the no. of hours you study in a day : 3
Mention your daily travel time : 2
What is your age : 19
How much of time do you spend with your friends : 12
Are you presently in a relationship'(yes or no)'yes
Do you wish to pursue higher studies '(yes or no)': no
On a scale of 1 to 5 what is your family education '(1 being primary to 5 being a college degree)' :3
Mention your score in first test : 15
Mention your score in second test : 12
how many test have you failed '(1 ,2 or 3)' : 0

['Eren', '3', '2', '19', '12', 'yes', 'no', '3', '15', '12', '0']

In [30]:
user = x_train.head(1)
user

,sex,age,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
1,0,17,1,1,1,1,1,2,0,0,...,1,0,3,3,1,1,3,4,5,5

In [31]:
print([user['higher']])

[1    1
Name: higher, dtype: int64]

In [32]:
user

,sex,age,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
1,0,17,1,1,1,1,1,2,0,0,...,1,0,3,3,1,1,3,4,5,5

In [34]:
predict = regressor.predict(user)
predict

array([ 5.89333333])

In [35]:

user = {'age':user_data[3], 'traveltime':user_data[2],'studytime':user_data[1], 'failures':user_data[10], 'schoolsup':int(x_train["schoolsup"].median()), 'Medu':user_data[7], 'Fedu':user_data[7], 'famsup':int(x_train["famsup"].median()),
       'paid':int(x_train["paid"].median()), 'activities':int(x_train["activities"].median()), 'nursery':int(x_train["nursery"].median()), 'higher':0, 'internet':int(x_train["internet"].median()), 'romantic':int(x_train["romantic"].median()),
       'freetime':int(x_train["freetime"].median()), 'goout':user_data[4], 'Dalc':int(x_train["Dalc"].median()), 'Walc':int(x_train["Walc"].median()), 'health':int(x_train["health"].median()), 'absences':int(x_train["absences"].median()), 'G1':user_data[8],
       'G2':user_data[9]}
user

KeyError: 'famsup'

In [43]:

regressor.predict(user)

array([ 5.99333333])

In [46]:
score = input("Enter your target score : ")
score1 = int(score)
print(x_train[np.logical_and(y_train>=score1-1,y_train<=score1+1)][["goout","studytime"]])

Enter your target score : 12
     goout  studytime
204      5          4
190      3          2
246      2          1
26       2          1
223      3          2
308      3          2
142      2          3
366      2          3
319      4          2
154      1          1
311      1          2
81       2          3
336      3          3
181      3          2
241      3          2
122      2          2
176      4          2
145      2          2
66       3          4
229      3          3
186      3          1
179      3          2
30       2          2
356      3          2
300      4          2
325      3          3
360      4          2
112      2          2
126      2          2
159      5          2
..     ...        ...
23       4          2
43       1          1
256      3          4
364      2          2
305      3          2
207      2          2
227      3          2
143      4          1
262      2          3
340      4          3
361      3          2
267      4          2
119      3          1
257      1          2
105      3          4
38       2          3
53       4          1
290      2          2
28       3          2
185      4          2
357      3          2
147      2          2
285      3          2
243      2          1
165      2          1
39       1          1
314      2          3
292      3          2
211      5          2
117      2          1

[101 rows x 2 columns]

#### College prediction on the basis of students score (v1)

In [47]:
data_college = pd.read_csv('hackathon_data/college.csv')

In [50]:
data_required = data_college[['INSTNM','SAT_AVG_ALL']]

In [51]:
data = data_required.dropna()

In [66]:
data['z_score']=0
z_score = stats.zscore(data['SAT_AVG_ALL'])
z_score = z_score.round(2)
data['z_score'] = z_score

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [52]:
from scipy.stats import norm,stats

In [58]:
type(predict[0])

numpy.float64

In [60]:
data_grades = student_grades['G3']

In [61]:

data_grades = np.append(data_grades,predict[0])

In [65]:
zscore_student = stats.zscore(data_grades)

In [67]:
zscore_student = zscore_student.round(2)

##### following are the list of colleges a student can get with following grades

In [69]:
data['INSTNM'][data['z_score'] == zscore_student[-1]]

714                        Barry University
1271            Graceland University-Lamoni
7380            Barry University Law School
7432    Graceland University - Independence
Name: INSTNM, dtype: object