In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
# student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [4]:
print(len(student_grades))
print(student_grades)

395
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10
20  ...      4        4      1     1     1      1        0  13  14  15
21  ...      5        4      2     1     1      5        0  12  15  15
22  ...      4        5      1     1     3      5        2  15  15  16
23  ...      5        4      4     2     4      5        0  13  13  12
24  ...      4        3      2     1     1      5        2  10   9   8
25  ...      1        2      2     1     3      5       14   6   9   8
26  ...      4        2      2     1     2      5        2  12  12  11
27  ...      2        2      4     2     4      1        4  15  16  15
28  ...      5        3      3     1     1      5        4  11  11  11
29  ...      4        4      5     5     5      5       16  10  12  11
..  ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365 ...      3        3      4     2     4      3        4  10  10  10
366 ...      4        2      2     2     2      5        0  13  13  13
367 ...      5        2      1     1     2      1        0   7   6   0
368 ...      5        2      3     1     2      4        0  11  10  10
369 ...      3        2      2     4     2      5       10  14  12  11
370 ...      3        2      2     1     1      3        4   7   7   9
371 ...      4        3      3     2     3      3        3  14  12  12
372 ...      3        4      3     1     1      3        8  13  11  11
373 ...      3        5      5     1     3      1       14   6   5   5
374 ...      5        4      4     1     1      1        0  19  18  19
375 ...      4        3      2     1     2      4        2   8   8  10
376 ...      5        4      3     1     1      3        4  15  14  15
377 ...      5        4      3     3     4      2        4   8   9  10
378 ...      4        1      3     1     2      1        0  15  15  15
379 ...      4        5      4     2     3      1       17  10  10  10
380 ...      3        2      4     1     4      2        4  15  14  14
381 ...      4        4      3     1     3      5        5   7   6   7
382 ...      4        4      3     1     1      3        2  11  11  10
383 ...      4        3      2     1     3      5        0   6   5   0
384 ...      5        4      3     4     3      3       14   6   5   5
385 ...      5        3      3     1     3      4        2  10   9  10
386 ...      4        4      3     2     2      5        7   6   5   6
387 ...      5        4      2     1     2      5        0   7   5   0
388 ...      4        3      4     1     1      1        0   7   9   8
389 ...      1        1      1     1     1      5        0   6   5   0
390 ...      5        5      4     4     5      4       11   9   9   9
391 ...      2        4      5     3     4      2        3  14  16  16
392 ...      5        5      3     3     3      3        3  10   8   7
393 ...      4        4      1     3     4      5        0  11  12  10
394 ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [5]:
data = student_grades.drop(["school","address","reason"], 1)

data['famsize'] = (data['famsize'] == "GT3")*1
data['sex'] = (data['sex'] == 'M')*1
data['Pstatus'] = (data['Pstatus'] == 'T')*1
data.loc[data['guardian'] == 'mother',"guardian"] = 1
data.loc[data['guardian'] == 'father',"guardian"] = 2
data.loc[data['guardian'] == 'other',"guardian"] = 0
data['schoolsup'] = (data['schoolsup'] == 'yes')*1
data['famsup'] = (data['famsup'] == 'yes')*1
data['paid'] = (data['paid'] == 'yes')*1
data['activities'] = (data['activities'] == 'yes')*1
data['nursery'] = (data['nursery'] == 'yes')*1
data['higher'] = (data['higher'] == 'yes')*1
data['internet'] = (data['internet'] == "yes")*1
data['romantic'] = (data['romantic'] == 'yes')*1
print(data)

     sex  age  famsize  Pstatus  Medu  Fedu      Mjob      Fjob guardian  \
0      0   18        1        0     4     4   at_home   teacher        1
1      0   17        1        1     1     1   at_home     other        2
2      0   15        0        1     1     1   at_home     other        1
3      0   15        1        1     4     2    health  services        1
4      0   16        1        1     3     3     other     other        2
5      1   16        0        1     4     3  services     other        1
6      1   16        0        1     2     2     other     other        1
7      0   17        1        0     4     4     other   teacher        1
8      1   15        0        0     3     2  services     other        1
9      1   15        1        1     3     4     other     other        1
10     0   15        1        1     4     4   teacher    health        1
11     0   15        1        1     2     1  services     other        2
12     1   15        0        1     4     4    health  services        2
13     1   15        1        1     4     3   teacher     other        1
14     1   15        1        0     2     2     other     other        0
15     0   16        1        1     4     4    health     other        1
16     0   16        1        1     4     4  services  services        1
17     0   16        1        1     3     3     other     other        1
18     1   17        1        1     3     2  services  services        1
19     1   16        0        1     4     3    health     other        2
20     1   15        1        1     4     3   teacher     other        1
21     1   15        1        1     4     4    health    health        2
22     1   16        0        1     4     2   teacher     other        1
23     1   16        0        1     2     2     other     other        1
24     0   15        1        1     2     4  services    health        1
25     0   16        1        1     2     2  services  services        1
26     1   15        1        1     2     2     other     other        1
27     1   15        1        1     4     2    health  services        1
28     1   16        0        0     3     4  services     other        1
29     1   16        1        1     4     4   teacher   teacher        1
..   ...  ...      ...      ...   ...   ...       ...       ...      ...
365    1   18        1        1     1     3   at_home     other        1
366    1   18        0        1     4     4   teacher  services        1
367    0   17        1        1     1     1     other  services        1
368    0   18        1        1     2     3   at_home  services        2
369    0   18        1        1     4     4     other   teacher        2
370    0   19        0        1     3     2  services  services        0
371    1   18        0        1     1     2   at_home  services        2
372    0   17        1        1     2     2     other   at_home        1
373    0   17        1        1     1     2     other     other        1
374    0   18        0        1     4     4     other     other        1
375    0   18        1        1     1     1     other     other        1
376    0   20        1        1     4     2    health     other        0
377    0   18        0        1     4     4   teacher  services        1
378    0   18        1        1     3     3     other     other        1
379    0   17        1        1     3     1   at_home     other        1
380    1   18        1        1     4     4   teacher   teacher        2
381    1   18        1        1     2     1     other     other        1
382    1   17        1        1     2     3     other  services        2
383    1   19        1        1     1     1     other  services        1
384    1   18        1        1     4     2     other     other        2
385    0   18        1        1     2     2   at_home     other        1
386    0   18        1        1     4     4   teacher   at_home        1
387    0   19        1        1     2     3  services     other        1
388    0   18        0        1     3     1   teacher  services        1
389    0   18        1        1     1     1     other     other        1
390    1   20        0        0     2     2  services  services        0
391    1   17        0        1     3     1  services  services        1
392    1   21        1        1     1     1     other     other        0
393    1   18        0        1     3     2  services     other        1
394    1   19        0        1     1     1     other   at_home        2

     traveltime ...  famrel  freetime  goout  Dalc  Walc  health  absences  \
0             2 ...       4         3      4     1     1       3         6
1             1 ...       5         3      3     1     1       3         4
2             1 ...       4         3      2     2     3       3        10
3             1 ...       3         2      2     1     1       5         2
4             1 ...       4         3      2     1     2       5         4
5             1 ...       5         4      2     1     2       5        10
6             1 ...       4         4      4     1     1       3         0
7             2 ...       4         1      4     1     1       1         6
8             1 ...       4         2      2     1     1       1         0
9             1 ...       5         5      1     1     1       5         0
10            1 ...       3         3      3     1     2       2         0
11            3 ...       5         2      2     1     1       4         4
12            1 ...       4         3      3     1     3       5         2
13            2 ...       5         4      3     1     2       3         2
14            1 ...       4         5      2     1     1       3         0
15            1 ...       4         4      4     1     2       2         4
16            1 ...       3         2      3     1     2       2         6
17            3 ...       5         3      2     1     1       4         4
18            1 ...       5         5      5     2     4       5        16
19            1 ...       3         1      3     1     3       5         4
20            1 ...       4         4      1     1     1       1         0
21            1 ...       5         4      2     1     1       5         0
22            1 ...       4         5      1     1     3       5         2
23            2 ...       5         4      4     2     4       5         0
24            1 ...       4         3      2     1     1       5         2
25            1 ...       1         2      2     1     3       5        14
26            1 ...       4         2      2     1     2       5         2
27            1 ...       2         2      4     2     4       1         4
28            1 ...       5         3      3     1     1       5         4
29            1 ...       4         4      5     5     5       5        16
..          ... ...     ...       ...    ...   ...   ...     ...       ...
365           2 ...       3         3      4     2     4       3         4
366           2 ...       4         2      2     2     2       5         0
367           3 ...       5         2      1     1     2       1         0
368           2 ...       5         2      3     1     2       4         0
369           3 ...       3         2      2     4     2       5        10
370           2 ...       3         2      2     1     1       3         4
371           3 ...       4         3      3     2     3       3         3
372           1 ...       3         4      3     1     1       3         8
373           1 ...       3         5      5     1     3       1        14
374           2 ...       5         4      4     1     1       1         0
375           4 ...       4         3      2     1     2       4         2
376           2 ...       5         4      3     1     1       3         4
377           1 ...       5         4      3     3     4       2         4
378           1 ...       4         1      3     1     2       1         0
379           1 ...       4         5      4     2     3       1        17
380           1 ...       3         2      4     1     4       2         4
381           2 ...       4         4      3     1     3       5         5
382           2 ...       4         4      3     1     1       3         2
383           2 ...       4         3      2     1     3       5         0
384           2 ...       5         4      3     4     3       3        14
385           2 ...       5         3      3     1     3       4         2
386           3 ...       4         4      3     2     2       5         7
387           1 ...       5         4      2     1     2       5         0
388           1 ...       4         3      4     1     1       1         0
389           2 ...       1         1      1     1     1       5         0
390           1 ...       5         5      4     4     5       4        11
391           2 ...       2         4      5     3     4       2         3
392           1 ...       5         5      3     3     3       3         3
393           3 ...       4         4      1     3     4       5         0
394           1 ...       3         2      3     3     3       5         5

     G1  G2  G3
0     5   6   6
1     5   5   6
2     7   8  10
3    15  14  15
4     6  10  10
5    15  15  15
6    12  12  11
7     6   5   6
8    16  18  19
9    14  15  15
10   10   8   9
11   10  12  12
12   14  14  14
13   10  10  11
14   14  16  16
15   14  14  14
16   13  14  14
17    8  10  10
18    6   5   5
19    8  10  10
20   13  14  15
21   12  15  15
22   15  15  16
23   13  13  12
24   10   9   8
25    6   9   8
26   12  12  11
27   15  16  15
28   11  11  11
29   10  12  11
..   ..  ..  ..
365  10  10  10
366  13  13  13
367   7   6   0
368  11  10  10
369  14  12  11
370   7   7   9
371  14  12  12
372  13  11  11
373   6   5   5
374  19  18  19
375   8   8  10
376  15  14  15
377   8   9  10
378  15  15  15
379  10  10  10
380  15  14  14
381   7   6   7
382  11  11  10
383   6   5   0
384   6   5   5
385  10   9  10
386   6   5   6
387   7   5   0
388   7   9   8
389   6   5   0
390   9   9   9
391  14  16  16
392  10   8   7
393  11  12  10
394   8   9   9

[395 rows x 30 columns]

In [6]:
data.columns.values

array(['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2', 'G3'], dtype=object)

In [7]:
#important fields
features = ['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2']

In [8]:
len(features)

27

In [9]:
x = data[features]
y = data['G3']

In [10]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [11]:
#checking the data types
data["guardian"]=np.array(data["guardian"],dtype='i8')
for i in x.columns:
    print(i," : ",type(data[i][1]))  
print(data["guardian"])

sex  :  <class 'numpy.int64'>
age  :  <class 'numpy.int64'>
famsize  :  <class 'numpy.int64'>
Pstatus  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
guardian  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
famsup  :  <class 'numpy.int64'>
paid  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
nursery  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
internet  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
famrel  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>
0      1
1      2
2      1
3      1
4      2
5      1
6      1
7      1
8      1
9      1
10     1
11     2
12     2
13     1
14     0
15     1
16     1
17     1
18     1
19     2
20     1
21     2
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
365    1
366    1
367    1
368    2
369    2
370    0
371    2
372    1
373    1
374    1
375    1
376    0
377    1
378    1
379    1
380    2
381    1
382    2
383    1
384    2
385    1
386    1
387    1
388    1
389    1
390    0
391    1
392    0
393    1
394    2
Name: guardian, Length: 395, dtype: int64

In [12]:
x = data[features]
x.head(2)

,sex,age,famsize,Pstatus,Medu,Fedu,guardian,traveltime,studytime,failures,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,0,18,1,0,4,4,1,2,2,0,...,0,4,3,4,1,1,3,6,5,6
1,0,17,1,1,1,1,2,1,2,0,...,0,5,3,3,1,1,3,4,5,5

In [13]:
y = data['G3']

In [14]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [15]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

sex  :  <class 'numpy.int64'>
age  :  <class 'numpy.int64'>
famsize  :  <class 'numpy.int64'>
Pstatus  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
guardian  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
famsup  :  <class 'numpy.int64'>
paid  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
nursery  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
internet  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
famrel  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

from math import sqrt

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=0)

In [18]:
print(len(x_train),len(x_test),len(y_train),len(y_test))
print(x_train.columns)
print(y_train)

355 40 355 40
Index(['sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'guardian',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')
1       6
293    18
278     8
255     8
204    11
153     0
190    13
383     0
246    13
164     7
235    10
107    18
52     10
10      9
26     11
45      6
232     9
223    13
249    15
194    14
345    14
289    15
15     14
158    15
259     0
5      15
286    19
308    12
7       6
328     9
       ..
243    12
115    16
265    17
72      5
333     0
25      8
165    12
337     0
379    10
174     9
381     7
39     13
193    10
314    13
88     10
70     15
87     14
292    13
242     0
277     9
211    13
9      15
359    16
195    15
251    10
323    15
192     8
117    13
47     20
172    10
Name: G3, Length: 355, dtype: int64

In [19]:
regressor = RandomForestRegressor(max_depth=10,n_estimators=150, min_samples_split=2)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [20]:
y_prediction = regressor.predict(x_test)

In [21]:
y_prediction

array([ 14.14666667,  10.75938141,  10.15338902,  15.59333333,
        16.1       ,  12.26380199,  13.01504274,  10.97662744,
         9.51895013,  15.17333333,   8.89154362,  11.34841311,
        10.82587037,   7.45796667,  15.28      ,  14.14722222,
        13.25504274,   7.61154335,   9.57674167,  15.02      ,
         3.58666667,   0.72      ,   2.94166667,  15.08      ,
        12.62222222,  16.41333333,  10.21870132,  18.98666667,
         0.61333333,  13.35333333,   0.46666667,   8.30532234,
         8.20926236,   6.06      ,  12.74611111,  10.52666667,
        13.00222222,  18.23333333,   5.71955628,  12.28945014])

In [22]:
print(y_test)

329    14
318    10
317     9
65     15
59     16
287    12
212    14
60     11
394     9
324    15
375    10
74     11
76     10
106     8
215    15
12     14
132    12
264     0
268    10
167    16
168     0
150     0
90      8
171    16
282    12
37     15
339    10
113    19
135     0
102    14
144     0
78     10
330     8
216     4
233    13
309    10
54     13
260    18
253     8
6      11
Name: G3, dtype: int64

In [23]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

sex  :  0.00128202363647
age  :  0.0172709983946
famsize  :  0.0012676619535
Pstatus  :  0.000504355871501
Medu  :  0.00319692619441
Fedu  :  0.00544715537165
guardian  :  0.00235582507746
traveltime  :  0.00278629185192
studytime  :  0.00542093279701
failures  :  0.00445039076988
schoolsup  :  0.00413151732324
famsup  :  0.000904402518674
paid  :  0.00210711359015
activities  :  0.00607728209606
nursery  :  0.00168898755012
higher  :  0.00045091028524
internet  :  0.000811319465202
romantic  :  0.00201390608874
famrel  :  0.00729557039858
freetime  :  0.00423115118682
goout  :  0.00507335342103
Dalc  :  0.00186410529508
Walc  :  0.00463425042287
health  :  0.0109575693548
absences  :  0.121763947373
G1  :  0.00817867937618
G2  :  0.773833372336

In [24]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

1.7634176464564209

In [25]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

sex  correlation :  0.103455647466
age  correlation :  -0.161579438138
famsize  correlation :  -0.0814071097726
Pstatus  correlation :  -0.0580089849593
Medu  correlation :  0.217147496139
Fedu  correlation :  0.152456938904
guardian  correlation :  0.0701091004373
traveltime  correlation :  -0.117142052816
studytime  correlation :  0.0978196896532
failures  correlation :  -0.360414940462
schoolsup  correlation :  -0.0827882149932
famsup  correlation :  -0.0391571452379
paid  correlation :  0.101996240717
activities  correlation :  0.0160997012958
nursery  correlation :  0.0515679009109
higher  correlation :  0.182464617858
internet  correlation :  0.0984833712607
romantic  correlation :  -0.129969950163
famrel  correlation :  0.0513634288813
freetime  correlation :  0.0113072403083
goout  correlation :  -0.132791473503
Dalc  correlation :  -0.0546600405667
Walc  correlation :  -0.0519393237422
health  correlation :  -0.0613346048771
absences  correlation :  0.0342473161501
G1  correlation :  0.801467932017
G2  correlation :  0.904867989269

In [26]:
values.sort()
values

[-0.36041494046164968,
 -0.16157943813834058,
 -0.13279147350332923,
 -0.12996995016344978,
 -0.11714205281614901,
 -0.082788214993163287,
 -0.081407109772554373,
 -0.061334604877121369,
 -0.058008984959311186,
 -0.054660040566735971,
 -0.051939323742246163,
 -0.039157145237904707,
 0.011307240308313026,
 0.016099701295814482,
 0.034247316150069311,
 0.051363428881282147,
 0.051567900910917536,
 0.070109100437267605,
 0.097819689653196262,
 0.098483371260728869,
 0.10199624071669922,
 0.10345564746639291,
 0.15245693890425902,
 0.18246461785815765,
 0.21714749613860598,
 0.80146793201741462,
 0.9048679892693009]

In [27]:

data[features].max()

sex            1
age           22
famsize        1
Pstatus        1
Medu           4
Fedu           4
guardian       2
traveltime     4
studytime      4
failures       3
schoolsup      1
famsup         1
paid           1
activities     1
nursery        1
higher         1
internet       1
romantic       1
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      75
G1            19
G2            19
dtype: int64

In [35]:
## User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
while not(isinstance(user_name, str)):
    print ("please enter a valid string")
    user_name = input("Welcome!!! Please Enter your name: ")
user_name=str(user_name)
user_data.append(user_name)
data1 = input("Please mention the no. of hours you study in a day : ")

data2 = input("Mention your daily travel time : ")

data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")

data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being a college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")

for i in range(1,11):
    data = "data"+str(i)
    user_data.append(globals()[data]) 
user_data

Welcome!!! Please Enter your name: eren
Please mention the no. of hours you study in a day : 2
Mention your daily travel time : 3
What is your age : 18
How much of time do you spend with your friends : 3
Are you presently in a relationship'(yes or no)'yes
Do you wish to pursue higher studies '(yes or no)': no
On a scale of 1 to 5 what is your family education '(1 being primary to 5 being a college degree)' :3
Mention your score in first test : 15
Mention your score in second test : 12
how many test have you failed '(1 ,2 or 3)' : 2

['eren', '2', '3', '18', '3', 'yes', 'no', '3', '15', '12', '2']

In [36]:
user = x_train.head(1)
user

,sex,age,famsize,Pstatus,Medu,Fedu,guardian,traveltime,studytime,failures,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
1,0,17,1,1,1,1,2,1,2,0,...,0,5,3,3,1,1,3,4,5,5

In [37]:
print([user['higher']])

[1    1
Name: higher, dtype: int64]

In [38]:
user

,sex,age,famsize,Pstatus,Medu,Fedu,guardian,traveltime,studytime,failures,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
1,0,17,1,1,1,1,2,1,2,0,...,0,5,3,3,1,1,3,4,5,5

In [39]:
predict = regressor.predict(user)
predict

array([ 5.99333333])

In [87]:
print(x_train["raisedhands"].median())
user = {'raisedhands':int(x_train["raisedhands"].median()), 'VisITedResources':int(x_train["VisITedResources"].median()), 'AnnouncementsView':int(x_train["AnnouncementsView"].median()),
       'Discussion':int(x_train["Discussion"].median()), 'StudentAbsenceDays':int(x_train["StudentAbsenceDays"].median()), 'age':user_data[3], 'traveltime':user_data[2],
       'studytime':user_data[1], 'failures':user_data[10], 'schoolsup':int(x_train["schoolsup"].median()), 'Medu':user_data[7], 'Fedu':user_data[7], 'famsup':int(x_train["famsup"].median()),
       'paid':int(x_train["paid"].median()), 'activities':int(x_train["activities"].median()), 'nursery':int(x_train["nursery"].median()), 'higher':0, 'internet':int(x_train["internet"].median()), 'romantic':int(x_train["romantic"].median()),
       'freetime':int(x_train["freetime"].median()), 'goout':user_data[4], 'Dalc':int(x_train["Dalc"].median()), 'Walc':int(x_train["Walc"].median()), 'health':int(x_train["health"].median()), 'absences':int(x_train["absences"].median()), 'G1':user_data[8],
       'G2':user_data[9]}
user

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,27,22,22,40,1,19,4,5,0,0,...,1,0,2,3,1,1,5,2,17,18

In [43]:

regressor.predict(user)

array([ 5.99333333])

In [46]:
score = input("Enter your target score : ")
score1 = int(score)
print(x_train[np.logical_and(y_train>=score1-1,y_train<=score1+1)][["goout","studytime"]])

Enter your target score : 12
     goout  studytime
204      5          4
190      3          2
246      2          1
26       2          1
223      3          2
308      3          2
142      2          3
366      2          3
319      4          2
154      1          1
311      1          2
81       2          3
336      3          3
181      3          2
241      3          2
122      2          2
176      4          2
145      2          2
66       3          4
229      3          3
186      3          1
179      3          2
30       2          2
356      3          2
300      4          2
325      3          3
360      4          2
112      2          2
126      2          2
159      5          2
..     ...        ...
23       4          2
43       1          1
256      3          4
364      2          2
305      3          2
207      2          2
227      3          2
143      4          1
262      2          3
340      4          3
361      3          2
267      4          2
119      3          1
257      1          2
105      3          4
38       2          3
53       4          1
290      2          2
28       3          2
185      4          2
357      3          2
147      2          2
285      3          2
243      2          1
165      2          1
39       1          1
314      2          3
292      3          2
211      5          2
117      2          1

[101 rows x 2 columns]

#### College prediction on the basis of students score (v1)

In [47]:
data_college = pd.read_csv('hackathon_data/college.csv')

In [50]:
data_required = data_college[['INSTNM','SAT_AVG_ALL']]

In [51]:
data = data_required.dropna()

In [66]:
data['z_score']=0
z_score = stats.zscore(data['SAT_AVG_ALL'])
z_score = z_score.round(2)
data['z_score'] = z_score

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [52]:
from scipy.stats import norm,stats

In [58]:
type(predict[0])

numpy.float64

In [60]:
data_grades = student_grades['G3']

In [61]:

data_grades = np.append(data_grades,predict[0])

In [65]:
zscore_student = stats.zscore(data_grades)

In [67]:
zscore_student = zscore_student.round(2)

##### following are the list of colleges a student can get with following grades

In [69]:
data['INSTNM'][data['z_score'] == zscore_student[-1]]

714                        Barry University
1271            Graceland University-Lamoni
7380            Barry University Law School
7432    Graceland University - Independence
Name: INSTNM, dtype: object